	/*Font CSS*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/****global-CSS***/	

#bloc-page {
        max-width: 1340px;
        margin: 0 auto;
}

.desktop-none {display: none;}

body, html {font-family: 'Raleway', sans-serif;}

ul {list-style-type:  none;}

.secondary-titles {
font-size: 14px;
font-weight: 520;
color: black
}

.titles-decoration {
font-size: 20px;
font-weight: 520;
color: black
}

img{object-fit: cover;}

h3 {    margin-bottom: 20px;
        font-weight: 520;
        color: black
}

/****GENERAL-TEXT-AND-CLASSES****/

.main-text-size{font-size: 14px;}

strong { font-weight: bold;}

p {color: black;}
/****LINKS-CLASSES****/

a {     
        text-decoration: none;
        font-size: 14px;}

a:visited{ color: #000000;}    


/****TOP-PAGE-CONTENT****/

#page-main-title{
font-weight: bold;
font-size: 22px;
margin-top: 10px;
margin-bottom: 14px;
}

#top-page-text{
font-size: 18px;
margin-top: 0;
}

header{
display: flex; 
align-items: center;
margin: 40px auto 40px auto;    
}

/****NAVIGATION-MENU****/
.logo-container{
        display: flex; 
        width: 80%;   
}

#reservia-logo{
        height:50px; 
        width: 120px;
}

.no-margin{margin: 0;
}

nav {width: 400px;}

.nav-bar { 
        display: flex;
        justify-content: space-around;
}

.navborder{
        color:#000000;
        font-size: 15px;
}

#nav-button3{
        color:#0065FC;
        font-weight: bold;
        font-size: 15px;
        list-style-type:  none;
}

.navborder:hover {
        border-top: 2px solid #0065FC;
        color: #0065FC;
        padding-top: 40px;
}
.fa-star-grey {
color:#e0e0e0;
font-size: 12px;
}

.fa-star-blue {
color: #0065FC;
font-size: 12px;
}

/****RESEARCH-SECTION****/
.iconsize{
        width: 50px;
        border: none; 
        border-radius: 15px 0 0 15px;
}

#localization-button, #localization-logo {
font-size: 20px;
height: 50px;
width: 52px;
border: none;
border-radius: 50px 0 0 50px;
}

.fa-location-dot{
color:#000000 
}

.fa-location-dot:hover{
cursor: pointer;  
}

#searchbar {
        display: flex;
}

.search-border{
        width: 400px;  
}

.research{
height: 50px;
width: 230px;
font-size: 18px;
color: black;
font-weight: bold;
}

#input-research::placeholder {
color: #000000;
font-weight: bold;
background-color: #ffffff;
height: 50px;
width: 235px;
border: solid 0 1px 1px 1px #F2F2F2;
padding-left: 20px;
}

#input-research{
        font-size: 14px;
        background-color: #ffffff;
        height: 50px;
        width: 235px;
        border: solid 1px #F2F2F2 ;
}

#search-button{
        font-weight: 585;
        font-size: 16px;
        color:#ffffff;
        cursor: pointer;
        background-color: #0065FC;
        width: 120px;
        border-radius:  0 15px 15px 0px;
        border: none;
}

                                                /****FILTER-SECTION****/

/*flex-start:mobile-responsive*/

.filter {
        display: flex;
        justify-content: flex-start;
        align-items: center;
}

/*mobile-responsive*/
.filter-buttons-div{
        flex-direction: row;
        flex-wrap: wrap;

}

#filter-button1, #filter-button2, #filter-button3, #filter-button4  {
        display: flex;
        align-items: center;
        font-weight: bold;
        background-color:#ffffff;
        color: #000000;
        border-radius: 25px;
        height: 46px;
}

.fa-money-bill-wave,.fa-child,.fa-heart,.fa-dog {
        color:#0065FC;
        border-radius: 25px;

}

.fa-money-bill-wave:before ,.fa-child:before,.fa-heart:before,.fa-dog:before {
        background-color: #deebff;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 50px;
        height: 50px;
        border-radius: 25px;

}

#filter-button1:hover, #filter-button2:hover, #filter-button3:hover, #filter-button4:hover {
        background-color: #0065FC;
        color: #deebff;
}

.filter-text-icons{
        border: 2px solid #e8d9d9;
        border-left: 0;
        margin: 0 20px 20px 1px;
}

.margfilter{
margin-top: 30px;
margin-bottom:40px;
}

.margfiltertitle{
margin-right: 20px;
}

.text-filter{
        font-size: 16px;
        padding-left: 14px;
        padding-right: 20px;
        border-radius: 0 25px 25px 0;
}

#info{
        display: flex;
        margin-bottom: 40px;

}

#info-text{
font-size: 18px;
}

.fa-info{
color: #0065FC;
}

.fa-info:before{
        align-content: center;
        margin-left: 8px;
}

.icon-parent {
<<<<<<< HEAD
width: 20px;
height: 20px;
border: 2px solid #f2f2f2;
border-radius: 25px;
margin-right: 5px;
=======
        width: 20px;
        border: 2px solid #f2f2f2;
        border-radius: 25px;
        margin-right: 5px;
>>>>>>> top-page-update
}


/****MAIN-SECTION****/

#maincontentsection {
        display: flex;
}	

/****MAIN****/

.main-container{
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 80%;
        background-color: #F2F2F2;
        border-radius: 25px;
        padding: 30px 40px 0 45px;
        margin-right: 3%;
}

#main-title{
       line-height: 20px;
       margin-left: 15px;
}

.host-cards{
        width: 100%;
        height: 145px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}
.cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}

.hebergement {
        border: solid #ffffff 5px;
        background-color: #ffffff;
        border-radius: 20px;
        padding-bottom: 5px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        margin-bottom: 25px;
}

.host-image {
        border-radius: 15px 15px 0 0;
        width:235px;
        height: 110px;
}

.host-text {
        padding-left: 15px;   
}

.main-text-size{
        margin-bottom: 10px;
}

.main-end-title { 
        color: #000000;
        font-size: 18px;
        line-height: 40px;
        font-weight: bold;
        width: 100%;
}

/****ASIDE*****/

.aside-container {
        width: 40%;
        display: flex;
        align-content: space-between;
        flex-direction: column;
        background-color: #F2F2F2;
        border-radius: 25px;
        padding: 20px 40px 0px 35px;
}

.aside-main-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 40px;
        width:100%;
}


.fa-chart-line{color: #000000;}

.trendy-text-card{ 
        width: 45%;
}

.trendy{
        border: solid 5px #ffffff;
        min-width: 302px;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        margin-bottom: 30px;
        min-width: unset;
}

.trendy-image{
        height: 98.5%;
        width: 40%;
        border-radius: 15px 0 0 15px;
        
}   

.card-link{
        display: flex;
        flex-wrap: wrap;
        flex-direction : column;
        justify-content: space-around;
        width: 345px;
        height: 135px;    
}

/****ARTICLE****/

article{
        background-color: #ffffff;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
}	

#article-cards-section{
        display: flex;
        background-color: #ffffff;
        margin-top: 25px;
}

.article-text{
        font-weight: bold;
        font-size: 14px;
        padding-left: 20px;
       
}

.tall-image{
        height: 390px;
        width: 100%;
        border-radius: 15px 15px 0 0 ;
}

#pomegues-image{
        height: 185px;
        width: 100%;
}

#frioul-image{
        height:110px;
        width: 100%;}

#notre-dame-image{
        height: 140px;
        width: 100%;}

#longchamp-image{
        height: 155px;
        width: 100%;
}

#pomegues-image, #frioul-image, #notre-dame-image, #longchamp-image{border-radius: 15px 15px 0 0 ;}

.tall-activity-cards{
        font-size: 14px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 15px 15px 15px 15px;
}

#pomegues-card{
height:  240px;
width: 300px;
margin:0 45px 40px 40px;
}

#frioul-card{
height: 165px;
width: 300px;
margin: 0 40px 0 45px;
}

#notre-dame-card{
        height: 195px;
        width: 305px;
        margin-left: 40px;
        margin-bottom: 40px;
}

#longchamp-card{
        margin-left: 40px;
        height: 210px;
        width: 305px;
}

.card-column{ 
        flex-wrap: wrap;
}

#pomegues-card,#frioul-card,#notre-dame-card,#longchamp-card{
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 15px 15px 15px 15px;
}

/****FOOTER****/

footer {
        margin: 60px auto auto auto;
        padding-left: 30px;
        padding-top: 45px;
        font-size: 14px;
        display: flex;
        background-color: #F2F2F2;
}

.information_section{
width: 100%;
}

.information-text{
        margin-top: 14px;
        margin-bottom: 14px;}

/****RESPONSIVE****/


/****RESPONSIVE-MOBILE****/

@media only screen and (min-device-width : 50px) and (max-device-width : 599px) {
        /*
        idOuClass { color: blue; }

        idOuClass { 
        font-size: 18px;
        font-weight: 520;
        color: black
        }
        */

        #bloc-page {
                max-width: 375px;
                margin: 0 auto;
        }
        .mobilefilterwrap{
                flex-direction: column;
                align-items: flex-start;
        }

        #maincontentsection {
                flex-direction: column-reverse;
        }
        #page-main-title{
                font-size: 20px;
        }

        #top-page-text{
                font-size: 14px;
        }

        .secondary-titles {
                font-size: 14px;
                font-weight: 520;
                color: black
        }

        p {
                color: black;
                font-size: 12px;    
        }

        h3 {    
                margin-bottom: 20px;
                font-weight: 520;
                color: black
        }


        /****NAV-SECTION-RESPONSIVE-MOBILE****/

        header{
                flex-wrap: wrap;
                margin: 0;
        }

        header nav ul li{
                border-bottom: solid 3px #f2f2f2;
                width: 100%;
                padding: 10px;
                text-align: center;
        }

        header nav ul li:hover{
                border-bottom: solid 3px #0065FC;
        }

        .logo-container{
                padding-left: 12px;
                width: 70%;
                margin-bottom: 35px;
        }

        #reservia-logo{
                height: 45px;
                width: 95px;
        }

        nav { 
                order: 2;
        }

        .nav-bar1{
                order: 2;
                font-size: 16px;
                padding: 0;
        }


        #nav-button3{
                font-size: 18px;
                margin-bottom: 35px;
        
        }

        .navborder:hover {
                border-top: none ;
        }

        #page-main-title{
                margin-top: 35px;
                margin-bottom: 20px;
        }

        #input-research{
                width: 230px;
                border-left: none;
                border-right: none;

        }

        #search-button{
                margin-left: -3%;
                width: 50px;
                border-radius: 15px;
        }

        #search-button:hover{
                color: #0065FC;
                background-color:#ffffff;
        }

        .desktop-none{
                display: block;   
        }

        .mobile-none{
                display:none;
        }

        #searchbar{
                border: none;
                justify-content: center;
                margin-top: 16px;
        }

        #research_text{
                padding-left: 20px;
                padding-right: 20px;        
        }

        .search-border{
                width: 100%;
        }
        /******FILTER-SECTION******/

        .filter{
                margin-left: 20px;
        }

        #filter-button1, #filter-button2, #filter-button3, #filter-button4  {
                font-size: 24px;
        }

        #filter-button1{
                margin-right: 10px;
               
        }

        .text-filter{
            padding-left: 10px;
            padding-right: 15px;
            font-size: 14px;    
        }

        .margfilter{
                margin-top: 40px;
                margin-bottom: 35px;
        }

        .margfiltertitle{
                width: 100%;
                margin: 0;
        }
        
        .filter-text-icons{
                margin: 20px 0 0 0;
        }
        
        #info{
                margin-left: 20px;
        }

        #info-text{
        font-size: 14px;
        }

        .icon-parent{
                margin-right: 10px;
        }

        .fa-info:before{
                padding-right: 10px;
                font-size: 14px;
        }

        .fa-money-bill-wave:before,.fa-child:before,.fa-heart:before,.fa-dog:before {
                font-size: 20px;
        }
        /****ASIDE-SECTION-RESPONSIVE-MOBILE****/

        .aside-container {
                width: auto;
                background-color: #F2F2F2;
                border-radius: 0;
                padding: 40px 20px 35px 20px;
        }

        .trendy{
                padding: 0;
                margin-bottom: 10px;
                border: none;
                width: auto;
                border: solid 5px #ffffff;
                min-width: unset;
        }
        .card-link{
                width:100%;
        }

        #trendy-title{
                font-size: 24px;
                margin-bottom: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
        }

        .fa-chart-line{color: #000000;}

        .trendy-image{
                width: 40%;
                border-radius: 15px 0 0 15px;
                margin: 0;
        }

        .trendy-text {
                width: 53.5%;
                margin: 0;
        }

        .aside-main-title{
                margin-bottom: 20px;
                line-height: 12px;
                align-content: center;
        }

        /****MAIN-SECTION-RESPONSIVE-MOBILE****/

        #maincontentsection {
                width: 100%;
        }

        .main-container {
                width: 100%;
                padding: 0;
                background-color: #ffffff;
                border-radius: 0;
                margin-top: 40px;

        }

        .main-title{
                margin-right: 0;

        }

        .main-text-size{
                font-size: 12px;
                margin-bottom: 5px;
                line-height: 10px;
                margin: 0;
        }

        .cards {
                width: 100%;
                height: auto;
                justify-content:center;
        }            

        .hebergement {
                width: 87%;
                align-items: unset;
                border-radius: 20px;
                padding: 0;
        }

        .host-image {
                display: flex;
                flex-direction: column;
                border-radius: 15px 15px 0 0;
                width:100%;
                margin: 0;
        }

        .host-text {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                width: 100%;
                height: 80px;
        }

        .stars-icons-main{
                margin: 10px 0 10px 0;

        }

        .main-end-title{
                font-size: 16px;
              width: 90%;
        }

        /****ARTICLE-SECTION-RESPONSIVE-MOBILE****/

        article{ 
                width: 100%;

        }

        #article-title{
                margin-left: 5%;
                margin-bottom: 0;
        }

        #article-cards-section{
                align-items: center;
                flex-direction: column;
                margin: 0;
        }      

        #pomegues-card,#frioul-card,#notre-dame-card,#longchamp-card {
                height: 190px;
                width: 90%;
                border-radius: 20px;
                margin: 20px 0 0 0;
        }

        .card-column{
                width: 100%;
                display: flex;
               justify-content: center;
        }
        #pomegues-image, #frioul-image, #notre-dame-image, #longchamp-image{
                height: 135px;
                width: 100%;
        }

        .tall-image{ 
                height: 135px;
                width: 100%;
        }

        .tall-activity-cards{
                width: 90%;
                height: 190px;
                margin-top: 20px;
        }
        .article-text{
                font-size: 14px;
        }

        /****FOOTER-RESPONSIVE-MOBILE****/

        .information-text{
                width: auto;
        }

        footer{
                flex-direction: column;
                align-items: flex-start;
                font-size: 16px;
                height: auto;
                margin: 45px auto auto auto;
                padding-bottom: 50px;
                width: auto;
        }
}


/****RESPONSIVE- TABS****/

@media only screen and (min-device-width : 600px) and (max-device-width : 1023px)
{
        #bloc-page {
                max-width: 900px;
                margin: 0 auto;
        }

        .mobilefilterwrap{
                flex-direction: column;
                align-items: flex-start;
        }

        #maincontentsection {
                flex-direction: column-reverse;
        }

        
                                                /*FILTER-SECTION-TAB*/
        .filter-text-icons{
                margin-right: 8.5px;
        }                                    
                                                
        .margfiltertitle{
                width: 100%;
        }                         

        .text-filter{
                padding-left: 10px;
                padding-right: 15px;    
            }

        /****ASIDE-SECTION-RESPONSIVE-TAB****/

        .aside-container {
                width: auto;
                background-color: #F2F2F2;
                border-radius: 0;
                padding: 40px 20px 35px 20px;
                margin-left: 0;
        }

        .aside-main-title{
                font-size: 24px;
                margin-bottom: 30px;
                justify-content: space-between;
                align-items: center;
        }

        .card-link{
                width: 75%;
        }

        .fa-chart-line{color: #000000;}

        .trendy{
                display:flex;
                padding: 0;
                margin-bottom: 10px;
        }

        .trendy-text-card {
                margin: 0;
        }

                                                        /******MAIN-SECTION-TAB******/

        #maincontentsection {
                width: 100%;
        }

        .main-container {
                width: 100%;
                padding: 0;
                background-color: #ffffff;
                border-radius: 0;
                margin-top: 40px;

        }

        .main-title{
                width: 100%;
                margin-right: 0;

        }

        .main-text-size{
                font-size: 16px;
                margin-bottom: 5px;
                line-height: 10px;
                margin: 0;
        }

        .cards {
                height: auto;
                justify-content:center;
                align-items: flex-start;
                align-content: start;
        }            

        .hebergement {
                width: 94%;
                align-items: unset;
                border-radius: 20px;
                padding: 0;
        }

        .host-image {
                display: flex;
                flex-direction: column;
                border-radius: 15px 15px 0 0;
                width:100%;
                height: 300px;
                margin: 0;
        }

        .host-text {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                width: 100%;
        }

        .stars-icons-main{
                margin: 10px 0 10px 0;

        }

        .fa-money-bill-wave:before,.fa-child:before,.fa-heart:before,.fa-dog:before {
                font-size: 20px;
        }

        .main-end-title{
              width: 94%;
        }

        /*ARTICLE-SECTION-TAB*/

         article{ 
                width: 100%;

        }

        #article-title{
                margin-left: 12px;
                margin-bottom: 0;
        }

        #article-cards-section{
                align-items: center;
                flex-direction: column;
                margin: 0;
        }      

        #pomegues-card,#frioul-card,#notre-dame-card,#longchamp-card {
                width: 95%;
                border-radius: 20px;
                margin: 0;
                height:unset;
        }

        #frioul-card{ 
                margin-top: 20px;
        }

        #notre-dame-card{
                margin-bottom: 20px;
        }

        .card-column{
                display: flex;
                justify-content: center;
                width: 100%;
                height: unset;
        }

        #pomegues-image, #frioul-image, #notre-dame-image, #longchamp-image{
                width: 100%;
                height: 300px;
                
        }

        .tall-activity-cards{
                width: 95%;
                margin-top: 20px;
                margin-bottom: 20px;
        }

        .tall-image{
                width: 100%;
                height: 300px;
        }

        .article-text{
                font-size: 16px;
        }
}